* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  position: relative;
  top: 100px;
}

nav ul {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(61, 61, 73, 1) 49%,
    rgba(128, 128, 145, 1) 100%
  );
  border-radius: 5px;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  border-right: 1px solid gray;
}

nav ul li:nth-child(9) {
  border-right: none;
}

nav a {
  color: white;
  text-decoration: none;
}

nav input[type='search'] {
  position: relative;
  border: inherit;
  background: linear-gradient(
    0deg,
    rgba(61, 61, 73, 1) 4%,
    rgba(128, 128, 145, 1) 100%
  );
  border-radius: 7px;
  left: 5px;
  height: 20px;
}

nav a:hover {
  background-color: #3b3b3b;
}

#apple {
  font-size: 22px;
}

#searchBtn {
  font-size: 12px;
  position: relative;
  right: 90px;
  color: #fff;
}

.container {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  background: url(./images/your_verse_hero.jpg) no-repeat;
  background-position: center -480px;
}

main h1 {
  font-size: 60px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 2px;
  opacity: 0.7;
  position: relative;
  top: 260px;
  left: 200px;
}
main h2 {
  font-size: 28px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 2px;
  opacity: 0.7;
  position: relative;
  top: 260px;
  left: 180px;
  width: 70%;
  line-height: 40px;
}

.images {
  width: 5%;
  display: flex;
  position: relative;

  right: 250px;
  top: 680px;
}
